<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <span>Github Search</span>
  <span style="display: flex; flex-direction: column; flex: 1 1 auto;"></span>
  <span>By Salman Yousaf</span>
</mat-toolbar>

<section>
  <mat-card>
    <mat-form-field color="primary">
      <input matInput placeholder="Search" [(ngModel)]="searchTerm" (ngModelChange)="newSearch(searchTerm)">
    </mat-form-field>
  </mat-card>

  <mat-card>
    <h1 style="color: #673ab7">Results:</h1>
    <mat-spinner *ngIf="loading && results"></mat-spinner>
    <div class="mat-elevation-z1 inner-mat" *ngFor="let result of results | async">
      {{result.name}}
    </div>
  </mat-card>
</section>
